doctype html
html
  head
    title HomeGefest
    meta(name='viewport', content='width=device-width, initial-scale=1.0')       
    link(rel='stylesheet', href='/lib/bootstrap-css/css/bootstrap.css')
    link(rel='stylesheet', href='/admin/css/style_admin.css')
  body
    .navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') Панель администратора HomeGefest       
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/user/logout') Выйти
    .container
      form.form-inline.form_create_user( method='post', action='/admin')
        .form-group.form-group_create_user 
          input.form-control(name='email', 
                            type='email', 
                            placeholder='Адрес электронной почты', 
                            required='required', 
                            autofocus='autofocus')
        .form-group.form-group_create_user
          input.form-control(name='pass', 
                            type='password',
                            placeholder='Пароль', 
                            required='required')
        .form-group.form-group_create_user
          input.form-control(name='name',
                            type='text', 
                            placeholder='Название')
        .form-group
          button.btn.btn-primary.btn-block(type='submit') Создать пользователя